body {
    font-family: 'Poppins', serif;
    background-image: url("/HW4-2022-main/images/concrete_seamless.png");
    background-color: #f1f1f1;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_item a:visited {
    color: blue;
    text-decoration: none;
}

.pricing > .card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing > .card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card {
    width: 450px;
}

.gallery img {
    width: 300px;
    border: 10px solid #50C7C7;
    margin: 10px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#image2, #image4 {
    align-self: stretch;
}

@keyframes mymove {
    from {width: 25px; opacity: 0} 
    to {width: 475px; opacity: 1}
  }


@media screen and (min-width: 900px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

